#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-size: 20px;
 
}
.div {
  padding: 10px;
}

button {
  margin: 20px;
  padding: 5px 10px;
  font-family: inherit;
  background-color: pink;
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
 background-color: aquamarine;
  margin-left: 05px;
  padding: 5px;
  width: 100px
}
